/*!
 * jGoBoard v1.5
 * http://www.jgoboard.com/
 *
 * This software is licensed under a Creative Commons Attribution-NonCommercial 3.0 Unported License:
 * http://creativecommons.org/licenses/by-nc/3.0/
 * If you want to negotiate on a commercial license, please contact the author.
 *
 * Date: 2011-03-05
 */

/* Board object - sizes of margins and required shadow clipping is defined in the .js file */
.jgo_board {
	width: 648px;
	height: 686px;
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
	background: url(normal/board.jpg) no-repeat top left;
	position: relative;
	margin: 0;
	padding: 0;
}

/* Container for stones - should be the size of these PNG files */
.jgo_b, .jgo_w , .jgo_c, .jgo_f {
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: 10;
}

 
.jgo_b { background: url(normal/black.png) no-repeat top left; }
.jgo_w { background: url(normal/white.png) no-repeat top left; }
.jgo_f { background: url(normal/fill.png) no-repeat top left; }

.jgo_d {
	opacity: 0.5;
}

/* Container for markers - should be the the same size as stones */
.jgo_m {
	position: absolute;
	width: 30px;
	height: 30px;
	z-index: 20;
}

/* Special markers for black and white stone hover effect - set on empty intersections */
.jgo_m.hover_b:hover { opacity: 0.6; background: url(normal/black.png) no-repeat top left; }
.jgo_m.hover_w:hover { opacity: 0.6; background: url(normal/white.png) no-repeat top left; }

.jgo_m.square_b { background: url(normal/square_b.png) no-repeat top left; }
.jgo_m.square_w { background: url(normal/square_w.png) no-repeat top left; }
.jgo_m.triangle_b { background: url(normal/triangle_b.png) no-repeat top left; }
.jgo_m.triangle_w { background: url(normal/triangle_w.png) no-repeat top left; }
.jgo_m.circle_b { background: url(normal/circle_b.png) no-repeat top left; }
.jgo_m.circle_w { background: url(normal/circle_w.png) no-repeat top left; }
.jgo_m.cross_b { background: url(normal/cross_b.png) no-repeat top left; }
.jgo_m.cross_w { background: url(normal/cross_w.png) no-repeat top left; }
.jgo_m.territory_b { background: url(normal/territory_b.png) no-repeat top left; }
.jgo_m.territory_w { background: url(normal/territory_w.png) no-repeat top left; }

.jgo_m.white {
	color: white;
}

.jgo_m.white, .jgo_m.black {
	font-weight: bold;
	line-height: 28px;
	font-size: 14px;
	text-align: center;
}

/* Shadow is larger than the squares, and code handles clipping on board edges separately */
.jgo_sh {
	display: none;
	position: absolute;
	width: 57px;
	height: 50px;
	z-index: 5;
	background: url(normal/shadow.png) no-repeat top left;
}

/* Coordinate labels */
.jgo_coord {
	position: absolute;
	width: 24px;
	height: 24px;
	font-weight: bold;
	font-size: 11px;
	line-height: 24px;
	color: #ccc;
	text-align: center;

    /* not selectable */
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    /*
      Introduced in IE 10.
      See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
    */
    -ms-user-select: none;
    user-select: none;
}

/* jgo_auto styles */
a.jgo_auto {
	text-decoration: none;
	color: black;
}

a.jgo_auto.disabled, .disabled {
	color: #ccc;
}

a.jgo_auto:hover {
	text-decoration: underline;
}

.jgo_auto {
	width: 650px;
	text-align: center;
}

.jgo_controls {
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 12px;
}

.jgo_moves {
	float: left;
	width: 240px;
	/*background-color: #ccf;*/
}

.jgo_variations {
	float: left;
	width: 170px;
	/*background-color: #cfc;*/
}

.jgo_captures {
	float: left;
	width: 240px;
	/*background-color: #fcc;*/
}

.jgo_mini {
	margin: 0;
	padding: 0;
}
