@(key: String)(implicit request: RequestHeader)

@main("Instant game of GO") {

    <div class="row">
        <div class="span9"><div class="jgo_board" id="board"></div></div>
        <div class="span3">
            <div>
                You play <b id="color_text">...</b>.
                Turn: <b id="turn_text">...</b>. <br/><br/>
                Captured: <br/>
                black <b id="black_captured_text">0</b> /
                white <b id="white_captured_text">0</b><br/>
            </div>
            <h3>Messages</h3>
            <div id="messages"></div>
        </div>
    </div>


    <script type="text/javascript" charset="utf-8">

        var key = "@key";
        var ownColor = "";
        var gameData;
        var myTurn;

        $(document).ready(function(){ // jQuery way
            board = jgo_generateBoard($("#board"));
            board.click = boardClick

            $.get("/api/game/" + key, function(game) {
                showGameState(game)
                $("#color_text").text(ownColor)
            });
        });

        function keyToColor(k) {
            if(gameData.black_player_key == k) {
                return "black"
            } else if(gameData.white_player_key == k) {
                return "white"
            }
        }

        function boardClick(coord) {
            var stone = board.get(coord);
            if(stone == JGO_CLEAR && myTurn == true) {
                $.ajax({
                    url: "/api/game/@key/" + coord,
                    success: function(data) {
                        showGameState(data)
                    }
                }).fail(function(data) {
                    alert("error: " + JSON.stringify(data));
                    addErrorMessage(data)
                });
            }
        }

        function addErrorMessage(data) {
            var el = $('<div class="message"><span></span><p></p></div>')
            $("p", el).text(data.responseText)
            $(el).addClass("error_message")
            $('#messages').append(el)
        }

        function addChatMessage(data) {
            var el = $('<div class="message"><b></b><p></p></div>')
            $("b", el).text(keyToColor(data.user))
            $("p", el).text(data.message)
            $(el).addClass(data.kind)
            $('#messages').append(el)
        }

        function showGameState(game) {
            gameData = game;
            ownColor = keyToColor(key)
            board.fromString(game.board)
            if(game.state == "black_play") {
                $("#turn_text").text("black");
                myTurn = ownColor == "black";
            } else if(game.state == "white_play") {
                $("#turn_text").text("white");
                myTurn = ownColor == "white";
            }

            $("#black_captured_text").text(game.captured_black)
            $("#white_captured_text").text(game.captured_white)
        }

        $(function() {

            var WS = window['MozWebSocket'] ? MozWebSocket : WebSocket
            var chatSocket = new WS("ws://go-atok.rhcloud.com:8000/game/socket/@key");

            var sendMessage = function() {
                chatSocket.send(JSON.stringify(
                    {text: $("#talk").val()}
                ))
                $("#talk").val('')
            }

            var receiveEvent = function(event) {
                var data = JSON.parse(event.data)

                // Handle errors
                if(data.error) {
                    chatSocket.close()
                    $("#onError span").text(data.error)
                    $("#onError").show()
                    return
                } else {
                    $("#onChat").show()
                }

                if(data.kind == "move") {
                    showGameState(data.game)
                } else {
                    addChatMessage(data)
                }
            }

            var handleReturnKey = function(e) {
                if(e.charCode == 13 || e.keyCode == 13) {
                e.preventDefault()
                sendMessage()
                }
            }

            $("#talk").keypress(handleReturnKey)
            chatSocket.onmessage = receiveEvent
        })

    </script>
}
