@(message: String)

@main("Instant game of GO") {

    <button id="new_game">Create new game</button>
    <script>

        $(function() {
            $('#game_links').hide()
        })

        $("#new_game").click(function() {
            var url = "/api/game";
            $.ajax({
                type: "POST",
                url: url,
                success: function(data) {
                    $('#black_play_link').attr('href', data.play_url_black)
                    $('#white_play_link').attr('href', data.play_url_white)
                    $('#game_links').show()
                }
            })
            return false;
        });
    </script>

    <div id="game_links">
        <h2>Game links</h2>
        <a id="black_play_link">Black</a>
        <a id="white_play_link">White</a>
    </div>

}
